.heroTable
    padding: 0 25px
    .heroRow
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))
        grid-column-gap: 35px
        .heroCol                
            .title
                display: grid
                grid-template-columns: auto auto
                grid-column-gap: 10px
                margin: 20px 0
                justify-content: center
                align-items: center
                width: 100%
                text-align: center
                text-transform: uppercase
                color: #757777
                font-weight: 400
            .heroBox
                display: grid
                justify-content: center
                grid-gap: 5px 
                grid-template-columns: repeat(auto-fit, minmax(63px ,100px))


@media screen and ( max-width: 1320px )
    .heroTable
        .heroRow
           .heroCol
               &:nth-child(3)
                    grid-column: 1/3


@media screen and ( max-width: 992px )
    .heroTable
        .heroRow
            grid-column-gap: 30px

@media screen and ( max-width: 880px )
    .heroTable
        .heroRow
           .heroCol
               &:nth-child(3)
                    grid-column: 1/2
