.heroTable
    .heroRow
        display: grid
        grid-template-columns: auto auto auto
        .heroCol
            .title
                display: grid
                grid-template-columns: auto auto
                grid-column-gap: 10px
                margin: 20px 0
                justify-content: center
                align-items: center
                width: 100%
                text-align: center
                text-transform: uppercase
                color: #757777
                font-weight: 400
            .heroBox
                display: grid
                justify-content: center
                grid-gap: 5px 
                grid-template-columns: auto auto auto auto auto