body
    background: #232425
    color: #cecece

@media screen and ( min-width: 768px )
    .container
        max-width: 1170px
        width: 100%
        padding: 0 15px     
        margin: auto

@media screen and ( max-width: 768px )
    .container
        padding: 0 15px     
        margin: auto