header
    display: grid
    grid-template-columns: auto auto
    background: url(../../media/header_bg.png)
    height: 64px
    padding: 0 20px
    align-items: center
    .logo
        display: grid
        align-items: center
        grid-template-columns: auto auto
        justify-content: flex-start
        grid-column-gap: 15px
        text-decoration: none
        color: #cecece
        width: max-content
        span
            font-size: 30px
    nav
        .link
            color: #cecece
            font-size: 20px
            text-decoration: none
